@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

body {
    font-family:cursive
}
h1 {
    color:pink;
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;  
    font-family: 'Rowdies', 'cursive';
}
header {
    background: #333;
    color: #fff;
    padding: 25px 2px;
    padding-left: 50px;
    margin: 25px;
    
}

section {
    background: rgb(34, 102, 76);
    padding: 20px;
}

section.title-area {
    background: #900FFF;

}

.card {
    background: #FFF;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
}
@media (max-width:1050px) {
    .card {
        width: 90%;
    }
}

@media (max-width:750px) {
    .card {
        background:violet;
    }
}


